.nodemonignore
node_modules
npm-debug.log
.env
.DS_Store
*.espressostorage

*.espressostorage

jauntful-www.esproj/user.grignani.espressostorage

public/js/jauntful-bootstrap.min.js
public/js/jauntful-signup.min.js
public/js/jauntful.min.js
public/css/jauntful-print-letter.css
public/css/jauntful.css
public/css/responsive.css
public/css/jauntful-print-letter.css
public/css/jauntful.css
public/css/responsive.css
*.smash.js
*.smash.d

Procfile.dev