<% if (soundcloud_permalink_url) { %>
	<a href="<%= soundcloud_permalink_url %>" target="_blank">
		<h3 class="title">
			<%= title %>
		</h3>
	</a>
<% } else { %>
	<h3 class="title"><%= title %></h3>
<% } %>

<h5><%= artist %></h5>

<% if (soundcloud_like === true) { %>
	<button class="btn unlike-track">
		Liked <span class="glyphicon glyphicon-heart"></span> 
	</button>
<% } %>

<% if (soundcloud_like === false) { %>
	<button class="btn like-track">
		Not liked <span class="glyphicon glyphicon-heart-empty"></span> 
	</button>
<% } %>