{>"layout-main.html"/}

{<styles}<!-- Styles -->
    <style type="text/css">
        body{
            font-family: 'Roboto Condensed', sans-serif !important;
        }
        .hype-thumb{
            height: 40px;    
        }
        .hype{
            padding: 10px;
            margin: 30px;
            height: 320px;
            width: 320px;
            background-repeat: no-repeat !important;
            color: white;
            text-shadow: 2px 2px black;
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
            position: relative;
        }
        .hype a{
            color: white;
        }
        .title{
            display: inline;
        }
        .hypes-controls{
            bottom: 10px;
            position: absolute;
            right: 10px;
        }
        .hypes-controls button {
            box-shadow: 2px 2px black;
            margin-left: 10px;
            background-color: white;
            border-radius: 2px;
        }
        .play-link {
            background: url("/assets/images/play.png") no-repeat;
            color: #FF0000;
            display: none;
            height: 150px;
            left: 35%;
            opacity: 0.7;
            position: absolute;
            top: 25%;
            width: 130px;
        }
        .hype:hover .play-link {
            display: block !important;
        }
    </style>
{/styles}

{<scripts}<!-- Scripts -->
	<script src="/scripts/vendors/underscore/underscore.js"></script>
    <script src="/scripts/vendors/backbone/backbone.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script type="text/javascript">
        var HYPE_USERNAME = 'maximeCony';
        var SOUNDCLOUD_CLIENT_ID = '{SOUNDCLOUD_CLIENT_ID}';
        var SOUNDCLOUD_USER_ID = '{user.soundcloud_id}';
    	var SOUNDCLOUD_OAUTH_TOKEN = '{user.soundcloud_oauth_token}';
        
        SC.initialize({
            client_id: SOUNDCLOUD_CLIENT_ID,
        });
    </script>
    <script src="/scripts/build/apps/app.js"></script>
{/scripts}


{<content}<!-- Page content -->

	<section id="app"></section>

    <!-- Hype item template-->
    <script type="text/template" id="hype-item-template">
        {>"hypes/hype-item.html"/}
    </script>

     <!-- Hype details template-->
    <script type="text/template" id="hype-details-template">
        {>"hypes/hype-details.html"/}
    </script>

{/content}